In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [4]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003443,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
1003444,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
1003445,240410786,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,421,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,IC,Invest Cont,341.0,NaN,NaN,NaN,1700 ALBION ST,NaN,34.0675,-118.2240
1003446,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
1003447,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003448 entries, 0 to 1003447
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1003448 non-null  int64
 1   Date Rptd       1003448 non-null  object
 2   DATE OCC        1003448 non-null  object
 3   TIME OCC        1003448 non-null  int64
 4   AREA            1003448 non-null  int64
 5   AREA NAME       1003448 non-null  object
 6   Rpt Dist No     1003448 non-null  int64
 7   Part 1-2        1003448 non-null  int64
 8   Crm Cd          1003448 non-null  int64
 9   Crm Cd Desc     1003448 non-null  object
 10  Mocodes         851881 non-null   object
 11  Vict Age        1003448 non-null  int64
 12  Vict Sex        858856 non-null   object
 13  Vict Descent    858844 non-null   object
 14  Premis Cd       1003432 non-null  float64
 15  Premis Desc     1002860 non-null  object
 16  Weapon Used Cd  327140 non-null   float64
 17  Weapon Desc     327140 non-null   object
 18  Status          1003447 non-null  object
 19  Status Desc     1003448 non-null  object
 20  Crm Cd 1        1003437 non-null  float64
 21  Crm Cd 2        69118 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1003448 non-null  object
 25  Cross Street    154113 non-null   object
 26  LAT             1003448 non-null  float64
 27  LON             1003448 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.4+ MB

In [21]:
df.isnull().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151567
Vict Age                0
Vict Sex           144592
Vict Descent       144604
Premis Cd              16
Premis Desc           588
Weapon Used Cd     676308
Weapon Desc        676308
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           934330
Crm Cd 3          1001133
Crm Cd 4          1003384
LOCATION                0
Cross Street       849335
LAT                     0
LON                     0
dtype: int64

In [22]:
df = df.drop(columns=['DR_NO','Rpt Dist No','Part 1-2','Vict Descent','Premis Cd','Weapon Used Cd','Weapon Desc','Crm Cd 2','Crm Cd 3','Crm Cd 4','Cross Street','LAT','LON'])

In [23]:
df

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION
0,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,510,VEHICLE - STOLEN,NaN,0,M,STREET,AA,Adult Arrest,510.0,1900 S LONGWOOD AV
1,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),IC,Invest Cont,330.0,1000 S FLOWER ST
2,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,480,BIKE - STOLEN,0344 1251,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,480.0,1400 W 37TH ST
3,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,CLOTHING STORE,IC,Invest Cont,343.0,14000 RIVERSIDE DR
4,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,510,VEHICLE - STOLEN,NaN,0,NaN,STREET,IC,Invest Cont,510.0,200 E AVENUE 28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003443,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,510,VEHICLE - STOLEN,NaN,0,NaN,STREET,IC,Invest Cont,510.0,4000 W 23RD ST
1003444,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,HOTEL,IC,Invest Cont,745.0,1300 W SUNSET BL
1003445,10/14/2024 12:00:00 AM,10/11/2024 12:00:00 AM,2330,4,Hollenbeck,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344,29,M,RESTAURANT/FAST FOOD,IC,Invest Cont,341.0,1700 ALBION ST
1003446,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,SIDEWALK,IC,Invest Cont,230.0,FLOWER ST
1003447,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,510,VEHICLE - STOLEN,NaN,0,NaN,PARKING LOT,IC,Invest Cont,510.0,6900 VESPER AV

In [8]:
df['Vict Sex'] = df['Vict Sex'].fillna("Unknown")

In [9]:
df['Premis Desc'] = df['Premis Desc'].fillna('Unknown')

In [10]:
df['Crm Cd 1'] = df['Crm Cd 1'].fillna(df['Crm Cd 1'].mean())

In [11]:
df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION
0,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,510,VEHICLE - STOLEN,NaN,0,M,STREET,AA,Adult Arrest,510.0,1900 S LONGWOOD AV
1,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),IC,Invest Cont,330.0,1000 S FLOWER ST
2,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,480,BIKE - STOLEN,0344 1251,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,480.0,1400 W 37TH ST
3,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,CLOTHING STORE,IC,Invest Cont,343.0,14000 RIVERSIDE DR
4,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,510,VEHICLE - STOLEN,NaN,0,Unknown,STREET,IC,Invest Cont,510.0,200 E AVENUE 28

In [12]:
df.isnull().sum()

Date Rptd           0
DATE OCC            0
TIME OCC            0
AREA                0
AREA NAME           0
Crm Cd              0
Crm Cd Desc         0
Mocodes        151567
Vict Age            0
Vict Sex            0
Premis Desc         0
Status              1
Status Desc         0
Crm Cd 1            0
LOCATION            0
dtype: int64

In [13]:
df = df.drop(columns=['Mocodes'])

In [14]:
df.isnull().sum()

Date Rptd      0
DATE OCC       0
TIME OCC       0
AREA           0
AREA NAME      0
Crm Cd         0
Crm Cd Desc    0
Vict Age       0
Vict Sex       0
Premis Desc    0
Status         1
Status Desc    0
Crm Cd 1       0
LOCATION       0
dtype: int64

In [15]:
df.to_csv("cleaned_file.csv", index=False)